@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #151519;
  color: #f9fafd;
}

  @layer components {
    .input,
   .textarea {
      @apply w-full px-5 py-3 rounded-md bg-dark-2 placeholder:text-light-1 placeholder:opacity-30 text-sm placeholder:text-sm outline-none;
    }
  
    .btn-form {
      @apply bg-primary-blue border-2 border-primary-blue py-2.5 w-full rounded-md transition-all duration-300 hover:bg-transparent hover:border-light-1;
    }

    .btn {
      @apply py-2.5 px-10 rounded-md transition-all duration-300;
    }
  
    .btn-primary {
      @apply bg-primary-blue hover:bg-primary-blue-light;
    }
  
    .btn-secondary {
      @apply border border-light-opacity-10 hover:bg-light-opacity-10;
    }
    
    .nav-link {
      @apply flex gap-2.5 text-light-2 pl-2.5 pr-10 py-4 transition-all duration-300 hover:bg-primary-blue-30 hover:text-white rounded-sm;
    }
  
    .nav-link.active {
      background-color: #6483f0;
      color: #f9fafd;
    }
  }
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 24px;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #f9fafd;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }